
ul{
    background-color: grey;
    padding: 20px;
    height: 600px;
    display: flex;
    /* flex-direction: row-reverse; default reverse defalut is row */
    flex-direction: column;
    /* now the main axis is vertical  */
    /* flex-direction: column-reverse;now the main axis is bottom to top like rocket */
    flex-wrap: wrap;
    /* flex flow is shorthand notation for  flex direction(row) and flex wrap(wrap) */
    /* flex-flow: row wrap; */
    /* flex-flow: column wrap;if you want to see the effect just add height to parent mean this ul */
    /* flex-flow: row-reverse wrap; */
    /* flex-flow: row wrap; */
    /* justify-content: flex-start; (default one) */
    /* justify-content: flex-end; */
    /* justify-content: center; */
    /* justify-content:space-between; */
    /* justify-content:space-around */
    /* along main axis */
    /* justify-content:space-evenly; */
    /* align-items for cross axis */
    /* when children have specific height stretch went away */
    /* align-items: stretch; */
    /* align-items: flex-start; */
    /* align-items: flex-end; */
    /* align-items: center; */
    /* align-items: baseline;  */

    /* align-content: stretch; default is stretch 
    same as align items differece is here item act as a group */
    /* align-content: flex-start; */
    /* align-content: flex-end; */
    /* just like justify content space happening in main axis here it happening in vertical
    means cross axis */
    /* align-content: space-between;  */
    /* align-content: space-around; */
    /* align-content: flex-end   */
    align-content: center;
    /* align-content: stretch; */
    /* align-content: space-around; */
    

    


}
li{
    list-style: none;
    padding: 10px;
    color: aliceblue;
    margin: 20px;
    background-color: blue;
    width: 100px;
    /* height: 100px; */

    /* flex items property */
}